<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="dbUrl"
		connectionString="Host=q-s0.postgres-instance.dhaka-services-subnet.service-instance-f0b88221-9b8e-413f-a596-badd53abc70e.bosh;Port=5432;Database=postgres;Username=pgadmin;Password=107Lj6J5lU28SF3v49ky;"
	/>
	</connectionStrings>
</configuration>